* {
    scroll-margin-top: 130px;
}

nav {
    padding: 20px 30px;
    background-color: transparent;
    display: flex;
    justify-content: space-between;
    font-weight: 500;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 499;
    transition: background-color 0.3s ease, padding 0.3s ease;
    box-sizing: border-box;
    background-color: #F7F2ED;
    padding: 20px 30px;
    color: #52341D;
    border-bottom: 1px solid #52341d3f;
}
    
nav.scrolled {
    background-color: #F7F2ED;
    padding: 20px 30px;
    color: #52341D;
    border-bottom: 1px solid #52341d3f;
}

nav ul {
    list-style-type: none;
    display: flex;
    gap: 20px;
}

.nav-mainbutton {
    padding: 10px 15px;
    color: #52341D;
    border-radius: 50px;
    border: #52341D47 solid 2px;
    animation: fadeIn 0.3s ease-in-out forwards;
    background: #ad6a3623;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px); /* Safari support */
    border-radius: 8px;
    border: 1px solid rgba(215, 185, 108, 0.3);
}

.nav-mainbutton.scrolled {
    color: #52341D;
}

.nav-mainbutton.disable {
    pointer-events: none;
}

.nav-logo {
    font-weight: 800;
    font-size: 1.1rem;
}

nav .nav-left a,
nav .nav-right a {
    cursor: pointer;
}

/* Override CSS */

nav a {
    color: #52341D;
    text-decoration: none;
}

/* Settings */