<nav class="desktop-view">
    <div class="nav-left">
        <ul>
            <li>
                <a class="nav-logo" id="sidebarButton">
                    <i class="fa-solid fa-bars"></i>
                </a>
            </li>
            <li>
                <a class="brand-logo nav-logo" href="/">EasyRent<span>.</span></a>
            </li>
        </ul>
    </div>
    <div class="nav-right">
        <ul>
            <li>
                <a href="/users/notifications/" class="notification_object notification-button nav-right-button">
                    <i class="notification-count fa-regular fa-bell"></i>
                </a>
            </li>
            <li>
                <a href="/users/message/" class="notification_object message-button nav-right-button">
                    <i class="message-count fa-regular fa-message"></i>
                </a>
            </li>
            <li data-view="desktop-navmainbtn">
                <a class="login-modal-btn">
                    <i class="fa-regular fa-user"></i>
                    &nbsp; Log Masuk
                </a>
            </li>
            <li>
                <a class="nav-mainbutton" onclick="checkLoginModal('/users/siarkan-iklan/')">
                    Siarkan Iklan
                </a>
            </li>
        </ul>
    </div>
</nav>

<div class="mobile-view">
    <nav class="mobile-view-nav">
        <div class="nav-left">
            <ul>
                <li>
                    <a class="nav-logo" id="sidebarButton">
                        <i class="fa-solid fa-bars"></i>
                    </a>
                </li>
                <li>
                    <a class="brand-logo nav-logo" href="/">EasyRent<span>.</span></a>
                </li>
            </ul>
        </div>
        <div class="nav-right">
            <ul>
                <li>
                    <a href="/users/notifications/" class="notification_object notification-button nav-right-button">
                        <i class="notification-count fa-regular fa-bell"></i>
                    </a>
                </li>
                <li>
                    <a href="/users/message/" class="notification_object message-button nav-right-button">
                        <i class="message-count fa-regular fa-message"></i>
                    </a>
                </li>
                <li>
                    <a class="nav-mainbutton login-modal-btn" data-view="mobile-navmainbtn">
                        Log Masuk
                    </a>
                </li>
            </ul>
        </div>
    </nav>
</div>